@charset "UTF-8";

/*
Theme Name: Engage Collective
Theme URI: http://engagecollective.com/harrypujols
Github Theme URI: https://github.com/harrypujols/engage
Description: A theme custom made, and only intended for use by the Engage Collective.
Author: Harry Pujols
Author URI: http://harrypujols.com/
Version: 1.1.6
Tags: custom, portfolio, business, production, engage-collective
*/

// colors
@background-yellow: #fafdeb;
@black: #231f20;
@gold: #947e4e;
@purple: #70476d;


/* font */
@import url('http://fonts.googleapis.com/css?family=Antic');
@main-font: 'Antic', sans-serif;

/* Soft transition */

@keyframes fadein {
0% {
   opacity: 0;
  }
50% {
	opacity: 0;
}
100% {
    opacity: 1;
  }
}

/* sitewide */

body {
	background-color: @background-yellow;
	color: @black;
	font-size: 62.5%;
	font-family: @main-font;
	letter-spacing: 0.1em; 
	text-transform: uppercase;
	border: 0;
	margin: 0;
	padding-left: 20px;
	animation: fadein 1s ease-in;
}

#container {
  	width: 1024px;
  	margin: 0 auto;
	font-size: 1em;
	line-height: 1.4em;
}
  
a {
	color: @black;
	text-decoration: none;
	animation: fadein 1s ease-in;
}
  
a:hover {
	color: @purple;
	text-decoration: underline;
	animation: fadein 1s ease-in;
}
  
a img {
	border: none;
}
  
a img:hover {
	opacity: .9;
}

p {
	line-height: 1.6em;
}
  
/* header */

header {
	padding-bottom: 50px;
	font-size: 1em;
}
  
h1, nav, header div {
	display: inline-table;
	vertical-align: top;
}
  
h1 {
	margin: 55px 115px 0 0;
}
  
header div {
	padding: 48px 10px 0 0;
}

header dt {
	margin: 0;
	padding: 0;
}
  
header dd {
	margin: 0 0 15px 0;
	padding: 0;
}

header dl {
	margin-right: 130px;
}

.number {
	font-size: 1.1em;
}
  
.social {
	padding-top: 60px;
} 

header nav { 
  	margin: 0 235px 0 5px;
	padding-top: 58px;
}

.current_page_item {
	font-weight: bold;
}
  
/* shared styles */

header ul, aside ul {
	margin: 0;
	padding: 0;
}
  
header li, aside li {
	list-style: none;
}

aside, section {
	display: inline-table;
	vertical-align: top;
	border-top: thin solid @gold;
}
  
aside h2, section h3, section h4 {
	text-decoration: underline;
}
  
/* sidebar */
  
aside {
	width: 195px;
	margin-right: 20px;
	padding-top: 50px;
}
  
aside h2 {
	margin-bottom: 25px;
}
  
aside a {
	font-weight: bold;
	font-size: 1.1em;
	display: block;
	padding: 0;
  }
  
aside li {
	margin-top: 10px;
}
  
/* main content default */

section {
	width: 715px;
	padding-top: 46px;
}

section header {
	padding: 0;
	margin-bottom: 40px;
}

section h3, section h4 {
	font-size: 2em;
}

article {
	overflow: auto;
	width: 100%;
	margin-bottom: 60px;
}

article h4, header h3 {
	margin-top: 15px;
}

.category article h4 {
	font-size: 1.2em;
}

/* video content */

article.tag-video iframe, .format-video iframe {
	float: right;
	margin-top: -35px;
}

article.tag-video p:nth-child(2), .format-video p:nth-child(2) {
	width: 180px;
	float: left;
}

.format-video p:nth-child(2)  {
	width: 210px;
}

article.tag-video h4, .format-video h4 {
	font-size: 1.2em;
}

/* services page */

#services {
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 0;
}

#services article h3 {
	color: @purple;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: none;
	text-align: justify;
	width: 100%;
	margin-bottom: 20px;
}

#services article ul {
	margin: 0;
	padding: 0;
}

#services article li {
	text-transform: none;
	list-style: none;
	width: 215px;
	display: inline-table;
	vertical-align: top;
	margin: 0 30px 40px 0;
}

#services li strong {
	color: @purple;
	font-family: @main-font;
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: underline;
	line-height: 1.2em;
	display: block;
	margin: 10px 0;
}

#services li:nth-child(3n+3) {
	margin-right: 0;
}


/* work page */

#work {
	padding-top: 40px;
}

.rollover {
	display: block;
	width: 235px;
	height: 235px;
	overflow: hidden;
	float: left;
}

.rollover:hover {
	text-indent:-235px;
}

.rollover img:hover {
	opacity: 1;
}  

/* footer */

footer {
	text-align: center;
	padding: 30px 0;
}
  
footer img {
	width: 100px;
}